@font-face {
    font-family: "Dirooz";
    src: url("../Font/Dirooz.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Dirooz;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto 30px;

    &__title {
        color: #456e8c;
        font-size: 18px;
    }

    &__back {
        display: flex;
    }

    &__img {
        width: 27px;
    }
}

.pack {
    width: 90%;
    margin: auto;

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    &__li {
        background: #e3ecf5;
        border: 2px solid #456e8c;
        border-radius: 6px;
        padding: 10px 10px 20px;
        color: #456e8c;
        position: relative;
    }

    &__content {
        width: 90%;
    }

    &__title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    &__info {
        font-size: 13px;
        padding-left: 10px;
    }

    &__icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-36%);
    }
}

.music-icon {
    width: 25px;
    height: 25px;
    fill: #2b96f5;
}

.save {
    position: absolute;
    width: fit-content;
    left: 10px;
    bottom: -32px;

    &__icon {
        fill: #456e8c;
        width: 35px;
        height: 35px;
    }

    &__number {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
        z-index: 1;
        color: #fff;
        font-size: 12px;
    }
}

.ready-test {
    position: absolute;
    left: 11px;
    top: -2px;
    background: #e3ecf5;
    padding: 0 10px 0 5px;

    &__title {
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        transform: translateY(-17px);
    }

    &__number {
        background: #e3ecf5;
        border: 2px solid #456e8c;
        border-radius: 6px;
        padding: 0 5px;
        font-size: 12px;
        display: inline-block;
        transform: translateY(-17px);
    }
}
